* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app_header > h1 {
  color: darkorange;
  font-size: 2rem;
}
.app_dropdown {
  background-color: white;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}
.app_left {
  flex: 0.9;
}
.app_right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.app_graph {
  flex-grow: 1;
}
.app_right .MuiCardContent-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.app_rightTableTitle {
  text-align: center;
}
.app_rightGraphTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
